/* Header */
.header {
  background-color: var(--dark-back);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding:1.5rem;
  border-radius: 4rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(2rems);
  height: 27px;

}

.Logo {
    display: flex;
    align-items: center;
    gap:10px;


}

.header button {
    color: var(--light-back);
    background-color: inherit;
    font-size: 1.2rem;
    font-family: Haettenschweiler, sans-serif;
    padding-left: 0.9rem;
    padding-right:0.9rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: ease-in 0.3s;
    height: 30px;
}

.header button:hover {
    color: var(--dark-back);
    background-color: var(--light-back);
    
}

.header button:active {
    transform: scale(0.94);
    transition: ease-in-out 0.07s;

}

#Logo {
    padding-left: 2rem;
    height: 3rem;
    width: auto;
}

.connectButton {
    padding-right: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    
}

#connectbtn {
    /* border-style: solid; */
    padding-top:3px;
    padding-bottom:2.6px;
    border: 2px solid white;
}

.connectButton h2 {
    font-size: 1.1rem;
}

/* Content Area */
.contentArea {
    background-color: white;
    color:black;
    display: flex;
    justify-content: center;
    min-height: 82vh ;
    margin:0.7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    
}

.contentArea * {
    margin: 4px;
    padding-left: 15px;
    padding-right: 8px;
    color: var(--dark-back);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    
}

.contentArea * .hr {
    color: var(--light-back);
    
}

#Play {
    background-color: white;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: 0.3s ease-in
}

#Play:hover {
    color:brown;
} 

/* Spend Tokens Section */
#AssignSecConnect {
    display: flex;
    justify-content: center;
    align-items:center;
}

/* #SpendHead{
    display: flex;
    align-items: top;
} */

#SpendArea {
    margin:0;

}

.spendContent {
    padding-left:0;
    margin-left:auto;
    flex:1;
    align-items: center;
    
}

#cryptoLogo {
    width: 15rem;
    height:auto;
    display:flex;
    margin-top: 2rem;
    
}

.warning {
    color: rgb(189, 22, 22);
    padding:2px;
    margin:2px;
    margin-top: 0.2px;
}

#recepient {
    padding:0;
    margin:0;
    margin-top:0.5rem;
    
}

#recepient h4 {
    margin: 0;
    padding: 7px;
    margin-bottom: 0px;
}

#recepient input {
    width: 85%;
    height: 25px;
    border: 1px solid var(--dark-back);
    background-color: white;
    font-size:0.94rem;
    font-weight: 400;
    font-style:inherit;
    outline: none;
}

#recepient button {
    border: none;
    background-color: var(--dark-back);
    color: var(--light-back);
    font-size:1rem;
    padding-top:2px;
    padding-bottom:2px;
    cursor:pointer;
    transition: ease-in 0.3s;
    height: 25px;
    text-align:center;

}

#recepient button:hover {
 color: var(--dark-back);
background-color: var(--light-back);
border: 1px solid var(--dark-back);

}

#recepient button:active {
    transform: scale(0.94);
    transition: ease-in-out 0.07s;
}


